<uikit-selector [label]="'Filter by currency:'"
                [options]="optionsSelectorCurr"
                (onSelect)="onSelectCurrency($event)"
                [ngModel]="selectedCurrency">
</uikit-selector>

<uikit-selector [label]="'Filter by time period:'"
                [options]="optionsSelectorTimePer"
                (onSelect)="onChangeTimePeriod($event)"
                [ngModel]="selectedTimePer">
</uikit-selector>

<uikit-notifications [options]="options" class="notification"></uikit-notifications>

<uikit-input
  placeholder="Search..."
  (input)="searchBySymbols($event)">
</uikit-input>

<uikit-pagination
  [currentPage]="1"
  [totalItems]="100"
  [itemsPerPage]="15"
  (onPageChangeEvent)="onPaginationChange($event)">
</uikit-pagination>

<app-export-csv [dataPrimitives]="dataPrimitives"></app-export-csv>

<uikit-grid
  [gridDataRows]="dataPrimitives"
  [settings]="settingsPrimitives"
  (gridAction)="getActionGrid($event)">
</uikit-grid>










