<uikit-selector [label]="'Filter by currency:'"
                [options]="optionsSelectorCurr"
                (onSelect)="onSelectCurrency($event)"
                [ngModel]="selectedCurrency">
</uikit-selector>

<uikit-selector [label]="'Filter by time period:'"
                [options]="optionsSelectorTimePer"
                (onSelect)="onChangeTimePeriod($event)"
                [ngModel]="selectedTimePer">
</uikit-selector>

<uikit-input
  placeholder="Search..."
  (input)="onSearchBySymbols($event)">
</uikit-input>

<uikit-pagination
  [currentPage]="currentPage"
  [totalItems]="totalItems"
  [itemsPerPage]="itemsPerPage"
  (onPageChangeEvent)="onPaginationChange($event)">
</uikit-pagination>

<app-export-csv [dataPrimitives]="dataPrimitives"></app-export-csv>

<p *ngIf="isGridLoading; else table" class="text-align-center"><b>Grid loading...</b></p>

<ng-template #table>
  <uikit-grid
    [gridDataRows]="dataPrimitives"
    [settings]="settingsPrimitives"
    (gridAction)="onGetActionGrid($event)">
  </uikit-grid>
</ng-template>

<p *ngIf="isCoinsNotFound" class="text-align-center"><b>No coins found</b></p>


