<div *ngIf="isChartReady; else loading">

  <uikit-selector [label]="'Choose currency:'"
                  [options]="optionsSelectorCurr"
                  (onSelect)="onSelectCurrency($event)"
                  [ngModel]="selectedCurrency">
  </uikit-selector>

  <uikit-selector [label]="'Choose time interval:'"
                  [options]="optionsSelectorTimePer"
                  (onSelect)="onChangeTimePeriod($event)"
                  [ngModel]="selectedTimePer">
  </uikit-selector>

  <uikit-chart-nav
    [selected]="activeLineMetrics"
  ></uikit-chart-nav>
  <uikit-chart [type]="chartTypes.LINE"
               [class.edit]="editing"
               [metrics]="activeLineMetrics"
               [data]="chartLineData">
  </uikit-chart>

</div>

<ng-template #loading>
  <p>Chart loading...</p>
</ng-template>

